{
  "extends": "airbnb",
  "parserOptions": {
      "ecmaVersion": 6
  },
  "globals": {
    "angular": true,
    "particlesJS": true
  },

  "rules": {
    "no-use-before-define": ["error", "nofunc"],
    "no-param-reassign": "off",
    "no-confusing-arrow": "off"
  }
}