.aboutV {
  padding-top: 4rem;
  @extend .col;
  align-items: center;

  img {
    max-height: 20rem;
    border-radius: 4px;
    padding-bottom: 2rem;
  }

  a {
    font-size: 1.3rem;
    text-decoration: none;
    color: $black;
    display: block;
    padding: 0.5rem;
    transition: color 100ms ease;

    &:hover {
      color: $dark-purple;
    }
  }

  span {
    padding: 1rem;
    font-size: 0.8rem;
    color: $dark-gray;
  }
}