@import 'components/breakpoints';
@import 'components/colors';
@import 'components/form';
@import 'components/shadows';
@import 'components/text';

body {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  background: $off-white;
}

div, span, h1 {
  user-select: none;
  cursor: default;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.f1 {
  flex: 1 0 auto;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.overflow-wrapper {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: auto;
}

ui-navbar {
  z-index: 1;
  flex: 0 0 4rem;
  align-items: flex-end;

  @include breakpoint(phablet) {
    flex: 0 0 8rem;
  }
}

ui-view {
  z-index: 1;
  max-height: 100%;
  overflow: auto;
}

.contained {
  box-sizing: border-box;
  width: 100%;
  max-width: 60rem;
  padding: 0 3rem;
}