.about {
  min-width: 100vw;
  // min-height: 100vh;
  background: #111;
  color: #F5F5F5;

  pre {
    font-size: 0.9rem;
    margin: 0;
    cursor: default;

    .yellow { color: $yellow; }
    .blue { color: $blue; }
    .green { color: $green; }

    a {
      color: #F5F5F5;
      text-decoration: none;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }

    .blink {
      animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
      50% { opacity: 0; }
    }
  }

  .card {
    text-align: center;
    background: #F1F1F1;
    padding: 3rem;
    color: #111;
    border-radius: 8px;

    img {
      border: 3px solid #111;
      max-width: 10rem;
      border-radius: 100%;
      margin-bottom: 1rem;
    }

    .name {
      font-size: 1.5rem;
    }

    .occupation {
      font-size: 0.9rem;
      color: #666;
      margin-bottom: 1rem;
    }

    .links {
      a {
        color: $blue;
        padding: 0.5rem;
        font-size: 0.8rem;
      }
    }
  }
}
