html, body {
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  text-rendering: geometricPrecision;
  user-select: none;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

.contained {
  max-width: 60rem;
  margin: 0 auto;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 60rem) {
  .contained {
    max-width: 90%;
  }

  .colm {
    display: flex;
    flex-direction: column;
  }
}

.f1 {
  flex: 1 0 auto;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}
